/* css/components/buttons.css */
button, .btn-primary, .btn-secondary {
    font-family: var(--font-title);
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border: 3px solid var(--caaso-black);
    text-transform: uppercase;
    transition: all 0.2s;
}

.btn-primary {
    background-color: var(--caaso-yellow);
    color: var(--caaso-black);
    box-shadow: 4px 4px 0 var(--caaso-black);
}

.btn-primary:active {
    box-shadow: 0 0 0 var(--caaso-black);
    transform: translate(4px, 4px);
}

.btn-secondary {
    background-color: var(--caaso-black);
    color: var(--caaso-white);
}

.btn-secondary:hover {
    background-color: var(--caaso-red);
}

#perfil-socio .btn-primary {
    margin-bottom: 1rem;
}